@import url(https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@100;200;300;400;500;600;800;900&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Nunito Sans', sans-serif;

}
header{
    background-color: rgba(43, 56, 68, 1);
    height: 80px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.0562);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container{
    width: 85%;
    margin: 0 auto;
}
nav p{
    color: white;
}
.texts p{
    font-size: 24px;
    font-weight: 800;
}
.texts{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main{
    background-color: rgba(32, 44, 54, 1);
    height: 100vh;
}
.section1 input{
    background-color: rgba(43, 56, 68, 1);
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.0532);
    width: 480px;
    height: 56px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 400;
    margin-top: 48px;
    padding-left: 80px;
}
.section1 i{
    position: absolute;
    color: white;
    top: 150px;
    left: 180px;
}
.section2{
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    row-gap: 75px;
}
.card1{
    background-color: rgba(43, 56, 68, 1);
    height: 250px;
    width: 264px;
    text-align: center;
    color: white;
    font-weight: 800;
    font-size: 18px;
}
.card1 p{
    margin-top: 25px;
}
.second-section-flags{
    display: flex;
    justify-content:space-between;
}
@media (max-width:834px){
    .section1 input{
        width: 768px;
        box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.0532);
        height: 101px;
        font-size: 20px;
        padding-left: 90px;
        color: white;
    }
    .section1{
        display: flex;
        justify-content: center;
    }
    .section1 i{
        position: absolute;
        top: 160px;
        left: 95px;
        font-size: 40px;
    }
    .second-section-flags{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        row-gap: 75px;
    }
    main{
        background-color: rgba(32, 44, 54, 1);
        height: 100%;
    }
}
@media (max-width:450px){
    .section1 input{
        width: 343px;
        height: 48px;
        box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.0532);
        font-size: 20px;
        color: white;
        font-size: 12px;
    }
    .section1{
    }
    .section1 i{
        position: absolute;
        top: 145px;
        left: 80px;
        font-size: 16px;
    }
    .second-section-flags{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        row-gap: 75px;
    }
    main{
        background-color: rgba(32, 44, 54, 1);
        height: 100%;
    }
}
